:root {
    --maCouleurDominante: #ff6811;
}

#grosTitre {
    color: var(--maCouleurDominante);
    text-align: center;
    font-size: xx-large;
    margin: 10px 0;
    font-weight: bold;
}

p:not(footer) {
    margin: 10px 25px;
    text-align: justify;
}

.titresArticles {
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}
.sousTitre{
    margin:30px 0px 25px 25px;
}
li{
    margin-left: 80px
}

.paragraphe{
    margin-left: 45px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, tr, td {
    border-style: solid;
    border-width: 1px;
    border-color: var(--maCouleurDominante);
    text-align: center;
    padding: 5px;    
}

table th {
    color: white;
    border-color: orange;
    background-color: var(--maCouleurDominante);
}

#pfin {
    color: var(--maCouleurDominante);
    text-align: center;
    font-size: x-large;
    margin-top: 25px;
}
.sousRubrique{
    font-size: small;
}
.horizontal { 
border-left: 4px solid black; 
height: 200px; 
display: flex;
flex-direction: row